
body{
    font-family:Verdana;
    padding: 0px;
    margin:0px
    
}

ul{
    list-style: none;
    display: flex;  
}


h2{
    font-size: 28px;
    font-size: 24px;
    color: #335576;
    font-weight: bold;
}

h6{
    color: #DB7A4E;
    font-weight:normal ; 
}

header{
    position: fixed;
    width: 100%;  
}

/*navigation bar for landing and destination pages*/

.nav-bar{
    display:flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;      
}

.nav-bar__items--styling{
    text-decoration: none;
    font-size: 18px;
    color:black;
}

.nav__elements--padding {
    padding-left: 15px;
}

.nav__logo--styling{
    font-size: 20px;
    text-decoration: none;
    color: #335576;
    font-weight: bold;   
}


.nav__item--underline{
    border-bottom: 3px solid #DB7A4E;
    padding-bottom: 13px;
}

footer{ 
    background-color: #FEFAF5;
    margin-top: 100px
    
}
    
.footer__infos--display{
    display: flex;
    justify-content: space-around; 
    padding: 10px;    
} 

.footer__contact--column{
    display: flex;
    flex-direction: column;
    padding-left: 17px;  
}

.footer__hours--flex-row{
    display: flex;
    flex-direction: row;
}

.hours__container--width{
    width: 185px;
}


.footer__icones--size{
    width: 23px;
}

.footer__facebook--size{
    width: 15px;
}
    
.footer__social--column{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 125px;
    height: 146px;
}

.display_logo{
    display: flex;
    justify-content: space-between;
}
    
.footer__text--blue{
    color: #335576;

}

/*optional hover asked*/
.nav-bar__list--hover:hover{
    background-color: #DB7A4E;
}

