
body{
    font-family:Verdana;
    padding: 0rem;
    margin:0rem
    
}

ul{
    list-style: none;
    display: flex;  
}


h2{
    font-size: 1.75rem;
    font-size: 1.5rem;
    color: #335576;
    font-weight: bold;
}

h6{
    color: #DB7A4E;
    font-weight:normal ; 
}

header{
    position: fixed;
    width: 100%;  
}

/*navigation bar for landing and destination pages*/

.nav-bar{
    display:flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;      
}

.nav-bar__items--styling{
    text-decoration: none;
    font-size: 1.125rem;
    color:black;
}

.nav__elements--padding {
    padding-left: .9375rem;
}

.nav__logo--styling{
    font-size: 1.25rem;
    text-decoration: none;
    color: #335576;
    font-weight: bold;   
}


.nav__item--underline{
    border-bottom: .1875rem solid #DB7A4E;
    padding-bottom: .8125rem;
}

footer{ 
    background-color: #FEFAF5;
    margin-top: 6.25rem
    
}
    
.footer__infos--display{
    display: flex;
    justify-content: space-around; 
    padding: .625rem;    
} 

.footer__contact--column{
    display: flex;
    flex-direction: column;
    padding-left: 1.0625rem;  
}

.footer__hours--flex-row{
    display: flex;
    flex-direction: row;
}

.hours__container--width{
    width: 11.5625rem;
}


.footer__icones--size{
    width: 1.4375rem;
}

.footer__facebook--size{
    width: .9375rem;
}
    
.footer__social--column{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 7.8125rem;
    height: 9.125rem;
}

.display_logo{
    display: flex;
    justify-content: space-between;
}
    
.footer__text--blue{
    color: #335576;

}

/*optional hover asked*/
.nav-bar__list--hover:hover{
    background-color: #DB7A4E;
}

