


/*navigation bar styling is in the global css file*/

h1{
    font-size: 40px;
    color:#335576 ;
    margin-bottom:0;   
}
.hero__container--background{
background-color: #FEFAF5;
}

.hero__container--display{
    display:flex;
    padding-top: 130px; 
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;   
}


.hero__text--align{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hero__button--styling{
    background-color:#DB7A4E;
    color: white;
    border-radius:25px;
    border:none;
    padding: 10px;
    width: 170px;
}

.hero__image--size{
    width: 365px;  
}

.recommendations__title--margin{
    margin: 30px 80px;
}

.destination-cards__display--center{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.destination-cards{
    display: flex;
    justify-content: right;
    align-items: flex-end ;
    background-size: 100%;
    width: 300px;
    height: 449px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.207);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, .2);
}

.destination-card__image--hawaii{
    background-image: url(../assets/Images/hawaii.jpg); 
}

.destination-card__image--iceland{  
    background-image: url(../assets/Images/iceland.jpg);
}

.destination-card__image--greece{
    background-image: url(../assets/Images/greece.jpg);     
}

.destination-cards__title--styling{
    color: white;
    font-size: 23px;
    padding-right: 10px;   
}

.destination-cards__text-underline--none {
    text-decoration: none;
}







    