
h1{
    font-size: 40px;
    color:#335576 ;
    margin-bottom:0;
    
 
}
   
/*properties of header container*/
.hero{
  background-color: #FEFAF5;
  min-height: 500px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.hero__container--display{
display:flex;
justify-content: space-between;
padding: 0 90px;
}


.hero__text--align{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hero__button--styling{
    background-color:#DB7A4E;
    color: white;
    border-radius:25px;
    border:none;
    padding: 10px;
    width: 170px;
}
 
 
.hero__image--size{
    width: 400px;
   
 }

.hero__text--margin{
    margin-right: 20px;

}
 


.recommendations{
    display: flex;
    padding-left: 90px;
    margin: 20px;
    

}

.country-cards__display--center{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.country-cards{
    display: flex;
    justify-content: right;
    align-items: flex-end ;
    background-size: 100%;
    width: 300px;
    height: 449px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.207);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, .2);
}


.country-cards__title--styling{
    color: white;
    font-size: 23px;
    padding-right: 10px;
    
}


.country-card__image--hawaii{
    background-image: url(../assets/Images/hawaii.jpg);
   
}


.country-card__image--iceland{

background-image: url(../assets/Images/iceland.jpg);

}


.country-card__image--greece{
    background-image: url(../assets/Images/greece.jpg);
     
}


.country-cards__text-underline--none {
    text-decoration: none;
   }






    